<h3>Comments:</h3>

<table>
	<tr>
		<th>User</th>
		<th>Comment</th>
		<th>Date</th>
	</tr>
	<% @route.routecomments.each do |routecomment| %>
	<tr class="comment">
		<td class="user_comment"><%=h routecomment.user.login %></td>
		
		<td><%=h routecomment.comment %></td>
		<td class="date_comment"><%=h routecomment.date %></td>
		
		<% if current_user.id == routecomment.user_id %>
		<td><%= link_to 'Edit', edit_routecomment_path(routecomment) %></td>
		<td><%= link_to 'Destroy', routecomment, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
		
	</tr>
	<% end %>
</table>


