
  <p>
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </p>
  <p>
    <%= form.label :date %>
    <%= form.date_select :date %>
  </p>
  <p>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </p>


