<h1>Listing results</h1>

<% count = 0 %>

<% if params[:search_by] and not params[:search_by].empty? %>
	<% search_by = params[:search_by] %>
	<% else %>
	<% search_by = "both" %>
<% end %>

<% if search_by == "route" %>

<h2>Listing routes</h2>

<table>
	<tr>
		<th>Name:</th>
		<th>Author:</th>
		<th>Rank:</th>
		<th>Places:</th>
	</tr>

	<% @search.each do |route| %>
	<% count = count + 1 %>
	<tr>
		<td><%=h route.name %></td>
		<td><%=h route.user.login %></td>
		<td><%= ratings_for route, :static, :small => true, :dimension => :rank %></td>
		<td><%= link_to 'Show', route %></td>
	</tr>
	<% end %>
</table>
<p>
	Total = <%= count %>
</p>

	<% else %> 
		<% if search_by == "place" %>

		<h2>Listing places</h2>

		<table>
			<tr>
				<th>Name:</th>
				<th>Author:</th>
				<th>Direction:</th>
				<th>Country:</th>
				<th>Rank:</th>
				<th>Photo:</th>
			</tr>

			<% @search.each do |place| %>
			<% count = count + 1 %>
			<tr>
				<td><%=h place.name %></td>
				<td><%=h place.user.login %></td>
				<td><%=h place.direction %></td>
				<td><%=h place.country.name %></td>
				<td><%= ratings_for place, :static, :small => true, :dimension => :rank %></td>
				<td class="image_url"><%= image_tag place.image_url, :class => 'list-image' %></td>
				<td><%= link_to 'Show', place %></td>
			</tr>
			<% end %>
		</table>
		<p>
			Total = <%= count %>
		</p>

			<% else %>

			<h2>Listing routes & places</h2>

			<table>
				<tr>
					<th>Name:</th>
					<th>Author:</th>
					<th>Rank:</th>
				</tr>

				<% @search.each do |thing| %>
				<% count = count + 1 %>
				<tr>
					<td><%=h thing.name %></td>
					<td><%=h thing.user.login %></td>
					
					<td><%= ratings_for thing, :static, :small => true, :dimension => :rank %></td>
					<td><%= link_to 'Show', thing %></td>
				</tr>
				<% end %>
			</table>
			<p>
				Total = <%= count %>
			</p>

			<% end %>
	<% end %>
