<h2>What Are You Looking For?</h2>

<%= render(:partial => "/application/index_search") %>

<%= render(:partial => "list") %>

<%= link_to 'New route', new_route_path %> |
<%= link_to 'New place', new_place_path %> |
<%= link_to 'Back', root_path %>

