<% title "New Search Route" %>

<% form_for @search_route do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </p>
  <p>
    <%= f.label :place_name %><br />
    <%= f.text_field :place_name %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p><%= f.submit %></p>
<% end %>


