
	<p>
		<%= form.label :login %>
		<%= form.text_field ( :login, :class => "fieldarea" ) %>
	</p>
	<p>
		<%= form.label :email %>
		<%= form.text_field ( :email, :class => "fieldarea" ) %>
	</p>
	<p>
		<%= form.label :password, form.object.new_record? ? nil : "Change password" %>
		<%= form.password_field ( :password, :class => "fieldarea" ) %>
	</p>
	<p>
		<%= form.label :password_confirmation %>
		<%= form.password_field ( :password_confirmation, :class => "fieldarea" ) %>
	</p>
	<p>
		<%= form.label :photo_url %>
		<%= form.text_field ( :photo_url, :class => "fieldarea" ) %>
	</p>
	<p>
		<%= form.label :profile %>
		<%= form.text_field ( :profile, :class => "texta" ) %>
	</p>
