	<p>
		<%= form.label :login %><br />
		<%= form.text_field :login %>
	</p>
	<p>
		<%= form.label :email %><br />
		<%= form.text_field :email %>
	</p>
	<p>
		<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
		<%= form.password_field :password %>
	</p>
	<p>
		<%= form.label :password_confirmation %><br />
		<%= form.password_field :password_confirmation %>
	</p>
	<p>
		<%= form.label :photo_url %><br />
		<%= form.text_field :photo_url %>
	</p>
	<p>
		<%= form.label :profile %><br />
		<%= form.text_field :profile %>
	</p>
