<h1>Editing user</h1>

<div id="campos_user">

<% form_for @user, :url => account_path do |f| %>
	<%= f.error_messages %>

	<%= render :partial => "form", :object => f %>
	
	<%= f.submit "Update" %>
	<% end %>

	<br /><%= link_to "My Profile", account_path %>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Back to Main', '/application/index' %>
