<h1>Your Profile</h1>
<div id="show_user_fields">
	<p>
		<b>Login:</b>
		<%=h @user.login %>
	</p>

	<p>
		<b>You have logged in:</b>
		<%=h @user.login_count %> times
	</p>
	
	<p>
		<b>Photo:</b>
		<%= image_tag @user.photo_url, :class => 'list-image' %>
	</p>
	
	<p>
		<b>Something about you:</b>
		<%=h @user.profile %> 
	</p>
</div>

<p id="comeback_links">
<%= link_to 'Edit profile', edit_account_path %> |

<%= link_to 'Edit profile', :controller => 'users', :action => :update_profile %> |

<%= link_to 'Show Account', '/users/show_account' %> |
<%= link_to 'Back', "/" %>
</p>

