<div id="userpanel">
<h1>Your Account</h1>
<div id="profile" class="show_user_fields">
	<h2>Your Profile</h2>
	<p>
		<b>Login:</b>
		<%=h @user.login %>
	</p>


	<p>
		<b>You have logged in:</b>
		<%=h @user.login_count %> times
	</p>

	<p>
		<b>Photo:</b>
		<%= image_tag @user.photo_url, :class => 'list-image' %>
	</p>

	<p>
		<b>Something about you:</b>
		<%=h @user.profile %> 
	</p>

	<p>
		<b>Login count:</b>
		<%=h @user.login_count %>
	</p>

	<p>
		<b>Last request at:</b>
		<%=h @user.last_request_at %>
	</p>

	<p>
		<b>Last login at:</b>
		<%=h @user.last_login_at %>
	</p>

	<p>
		<b>Current login at:</b>
		<%=h @user.current_login_at %>
	</p>

	<p>
		<b>Last login ip:</b>
		<%=h @user.last_login_ip %>
	</p>

	<p>
		<b>Current login ip:</b>
		<%=h @user.current_login_ip %>
	</p>

</div>


	<div id="favpla" class="show_user_fields">
		<%= render(:partial => "/favoriteplaces/index", :object => @user) %>
	</div>
	<div id="favrut" class="show_user_fields">
		<%= render(:partial => "/favoriteroutes/index", :object => @user) %>
	</div>


<p id="comeback_links">
<%= link_to 'Edit profile', edit_account_path %> 
<%= link_to 'Back', "/" %>
</p>
</div>
