<h3>Comments:</h3>

<table>
	<tr>
		<th>User</th>
		<th>Comment</th>
		<th>Date</th>
	</tr>
	<% @place.placecomments.each do |placecomment| %>
	<tr class="comment">
		<td class="user_comment"><%=h placecomment.user.login %></td>
		
		<td><%=h placecomment.comment %></td>
		<td class="date_comment"><%=h placecomment.date %></td>

		<% if current_user.id == placecomment.user_id %>
		<td><%= link_to 'Edit', edit_placecomment_path(placecomment) %></td>
		<td><%= link_to 'Destroy', placecomment, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>

	</tr>
	<% end %>
</table>
