<h1>Listing placecomments</h1>

<table>
  <tr>
    <th>Place</th>
    <th>User</th>
    <th>Comment</th>
    <th>Date</th>
  </tr>

<% @placecomments.each do |placecomment| %>
  <tr>
    <td><%=h placecomment.place_id %></td>
    <td><%=h placecomment.user_id %></td>
    <td><%=h placecomment.comment %></td>
    <td><%=h placecomment.date %></td>
    <td><%= link_to 'Show', placecomment %></td>
    <td><%= link_to 'Edit', edit_placecomment_path(placecomment) %></td>
    <td><%= link_to 'Destroy', placecomment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New placecomment', new_placecomment_path %>