<h1>Listing routes</h1>

<table>
	<tr>
		<th>Name:</th>
		<th>Author:</th>
		<th>Rank:</th>
		<th>Places:</th>
	</tr>

	<% @routes.each do |route| %>
	<tr>
		<td><%=h route.name %></td>
		<td><%=h route.user_id %></td>
		<td><%=h route.rank %></td>
		<td><%=h route.place_id %></td>
		<td><%= link_to 'Show', route %></td>
	</tr>
	<% end %>
</table>
