
<h4>Listing comments</h4>

<% if @routecomments %>
<table>
	<tr>
		<th>Author:</th>
		<th>Date:</th>
		<th>Comment:</th>
	</tr>

	<% @routecomments.each do |routecomment| %>
	<tr>
		<td><%=h routecomment.user_id %></td>
		<td><%=h routecomment.date %></td>
		<td><%=h routecomment.comment %></td>
		<td><%= link_to 'Edit', edit_routecomment_path(@routecomment) %></td>
	</tr>
	<% end %>
</table>
<% else %>

<p>There are not comments </p>

<%end%>


<div id="form_fields">
	<h1>New comment</h1>

	<% form_for(@routecomments) do |f| %>
	  <%= f.error_messages %>
	  <%= render :partial => "/comments/form_new", :object => f %>
	
	  <p>
	    <%= f.submit 'Create' %>
	  </p>

<% end %>
</div>