<%= render(:partial => "search_small") %>

<h1>
	<%=h @route.name %>
</h1>
<div id="map">
	<img src="/images/map.png" alt="map" />
</div>

<div id="summary">
	<h2>Route Summary</h2>
	<p>
		<b>Name:</b>
		<%=h @route.name %>
	</p>
	<p>
		<b>Creation date:</b>
		<%=h @route.created_at %>
	</p>
	<p>
		<b>Last update:</b>
		<%=h @route.updated_at %>
	</p>
	<p>
		<b>Author:</b>
		<%=h @route.user.login %>
	</p>
	<p>
		<b>Description:</b>
		<%=h @route.description %>
	</p>
	<p>
		<b>Places:</b>
		<% if @route.places.empty? %>
		This route have not any place.
		<% else %>
		<ul>
			<% @route.places.each do |r| %>
			<li class="routepoints"><a href="<%=place_path(r)%>"><%=h r.name %></a></li>
			<% end %>
		</ul>
		<% end %>	
	</p>
	<p>
		<b>Rate Average:</b>
	<!--		#To display static stars: -->
		<%= ratings_for @route, :static %>
		Your rate:
	<!--	# To display the rating for the current user (current_user): -->
		<%= ratings_for @route, :dimension => :rank, :show_user_rating => true %>


		<% for rater in @route.raters(:rank) %>
		  <%= rater.login %>:
		  <%= ratings_for @route, rater, :dimension => :rank, :show_user_rating => true %>
		<% end %>
		
		
	</p>
	<% if current_user.id == @route.user_id %>
	<%= link_to 'Edit route', edit_route_path(@route) %>
	<% end %>
</div>


<div id="comments">
	
	<%= render(:partial => "/routes/addtoroute", :object => @place) %>
	
	<p>
		Rate:
		<!--	%= ratings_for @route, @user, :dimension => :rank %> -->
	</p>

	<%= render(:partial => "/routecomments/list", :object => @route) %> 
	<%= render(:partial => "/routecomments/new", :object => @route) %>


	<p id="comeback_links">
		<%= link_to 'New route', new_route_path %> |
		<%= link_to 'Back', routes_path %>
	</p>
</div>