<% form_tag routes_path, :method => 'get' do %> 
<p id="title_tab_routes">
	Routes
</p>
<div id="search_form_routes_small">

	<p class="search_class_routes_small">
		<%= label_tag(:keywords, "Search for:") %> 
		<%= text_field_tag :keywords, params[:keywords] %>
	</p>
	<p id="example" class="search_class_routes_small">
		(eg.: castle, river, coast, ...)
	</p>
	<p class="search_class_routes_small">
		<%= label_tag(:country_id, "Select a country:") %> 
		<%= select_tag(:country_id, 
		'<option value=""> </option>
		<option value="1">Spain</option>
		<option value="2">Poland</option>
		<option value="3">France</option>
		<option value="4">Portugal</option>
		<option value="5">Italy</option>
		<option value="6">Holand</option>
		<option value="7">Chec Republic</option>
		<option value="8">Slovakia</option>
		<option value="9">Ucrania</option>
		<option value="10">Turkey</option>
		<option value="11">Greece</option>
		<option value="12">Germany</option>'	
		) %>

	</p>
	<p  class="search_class_routes_small">
		<%= check_box_tag(:caravanista) %>
		<%= label_tag(:caravanista, "Llevo caravana") %>	
		<%= check_box_tag(:autocaravanista) %>
		<%= label_tag(:autocaravanista, "Llevo autocaravana") %>
	</p>
	<p  id="search_button" class="search_class_routes_small" class="button">
		<%= submit_tag "Search!", :name => nil %>
		<% end %>
	</p>
</div>

<div id="summary">
	<p>
		<b>Name:</b>
		<%=h @route.name %>
	</p>

	<p>
		<b>Date:</b>
		<%=h @route.date %>
	</p>

	<p>
		<b>Rank:</b>
		<%=h @route.rank %>
	</p>

	<p>
		<b>Author:</b>
		<%=h @route.author %>
	</p>

	<p>
		<b>Description:</b>
		<%=h @route.description %>
	</p>

	<p>
		<b>Places:</b>
		<%=h @route.places %>
	</p>
	
	<p>
		<b>Creation date:</b>
		<%=h @route.created_at %>
	</p>
	
	<p>
		<b>Last update:</b>
		<%=h @route.updated_at %>
	</p>
</div>

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=pintor+manuel+siguenza,+pinedo,+valencia&amp;sll=40.396764,-3.713379&amp;sspn=9.368034,18.391113&amp;ie=UTF8&amp;hq=&amp;hnear=Calle+del+Pintor+Manuel+Sig%C3%BCenza,+46012+Valencia,+Comunidad+Valenciana&amp;t=h&amp;ll=39.422072,-0.33946&amp;spn=0.031826,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
<br />
<small>
	<a href="http://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=pintor+manuel+siguenza,+pinedo,+valencia&amp;sll=40.396764,-3.713379&amp;sspn=9.368034,18.391113&amp;ie=UTF8&amp;hq=&amp;hnear=Calle+del+Pintor+Manuel+Sig%C3%BCenza,+46012+Valencia,+Comunidad+Valenciana&amp;t=h&amp;ll=39.422072,-0.33946&amp;spn=0.031826,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>

	<p>Comments:</p>


	<%= link_to 'Edit', edit_route_path(@route) %> |
	<%= link_to 'New route', new_route_path %> |
	<%= link_to 'Back', routes_path %>