<%= render(:partial => "search_small") %>

<h1>
	<%=h @route.name %>
</h1>
<div id="map">
	<img src="/images/map.png" alt="map" />
</div>

<div id="summary">
	<h2>Route Summary</h2>
	<p>
		<b>Name:</b>
		<%=h @route.name %>
	</p>
	<p>
		<b>Creation date:</b>
		<%=h @route.created_at %>
	</p>
	<p>
		<b>Last update:</b>
		<%=h @route.updated_at %>
	</p>
	<p>
		<b>Author:</b>
		<%=h @route.user.login %>
	</p>
	<p>
		<b>Description:</b>
		<%=h @route.description %>
	</p>
	<p>
		<b>Places:</b>
		<%=h @route.place_id %>
	</p>
	<p>
		<b>Rating:</b>
		<%=h @route.rank %>
	</p>
	<p>
		Currently rating
	</p>
	<%= link_to 'Edit', edit_route_path(@route) %>
</div>


<div id="comments">
	<p>
		Rate:
		<!--	%= ratings_for @route, @user, :dimension => :rank %> -->
	</p>

	<p class="comment">Comments:</p>
	<%= render(:partial => "/routecomments/index", :object => @route) %> 
	<%= render(:partial => "/routecomments/new", :object => @route) %>


	<p id="comeback_links">
		<%= link_to 'New route', new_route_path %> |
		<%= link_to 'Back', routes_path %>
	</p>
</div>