<div class="search_form">
	<h3 id="title_tab_routes">
		Routes
	</h3>
	<div class="content-search">
		<% form_tag routes_path, :method => 'get' do %> 
		<p class="search_class">
			<%= label_tag(:keywords_route, "Search for:") %> 
			<%= text_field_tag :keywords_route, params[:keywords] %>
		</p>
		<p class="example search_class">
			(eg.: castle, river, coast, ...)
		</p>
		<p class="search_class">
			<%= label_tag(:country_id_route, "Select a country:") %> 
			<%= select_tag(:country_id_route, 
			'<option value=""> </option>
			<option value="1">Spain</option>
			<option value="2">Poland</option>
			<option value="3">France</option>
			<option value="4">Portugal</option>
			<option value="5">Italy</option>
			<option value="6">Holand</option>
			<option value="7">Chec Republic</option>
			<option value="8">Slovakia</option>
			<option value="9">Ucrania</option>
			<option value="10">Turkey</option>
			<option value="11">Greece</option>
			<option value="12">Germany</option>'	
			) %>
		</p>

		<p class="search_class">
			<%= check_box_tag(:caravanista_route) %>
			<%= label_tag(:caravanista_route, "Llevo caravana") %>	
			<%= check_box_tag(:autocaravanista_route) %>
			<%= label_tag(:autocaravanista_route, "Llevo autocaravana") %>
		</p>
		<p class="search_button search_class button">
			<%= submit_tag "Search!", :name => nil %>
		</p>
		<% end %>
	</div>
</div>