<h1>Listing places</h1>

<table>
	<tr>
		<th>Name:</th>
		<th>Author:</th>
		<th>Direction:</th>
		<th>Country:</th>
		<th>Rank:</th>
		<th>Photo:</th>
	</tr>

	<% @places.each do |place| %>
	<tr>
		<td><%=h place.name %></td>
		<td><%=h place.user_id %></td>
		<td><%=h place.direction %></td>
		<td><%=h place.country_id %></td>
		<td><%= ratings_for place, :static, :small => true, :dimension => :rank %></td>
		<td class="image_url"><%= image_tag place.image_url, :class => 'list-image' %></td>
		<td><%= link_to 'Show', place %></td>
	</tr>
	<% end %>
</table>