<% form_tag places_path, :method => 'get' do %> 
<p id="title_tab_places">
	Places
</p>
<div id="search_form">

	<p class="search_class">
		<%= label_tag(:keywords, "Search for:") %> 
		<%= text_field_tag :keywords, params[:keywords] %>
	</p>
	<p id="example" class="search_class">
		(eg.: restaurant, river, city, ...)
	</p>
	<p class="search_class">
		<%= label_tag(:country_id, "Select a country:") %> 
		<%= select_tag(:country_id, 
		'<option value=""> </option>
		<option value="1">Spain</option>
		<option value="2">Poland</option>
		<option value="3">France</option>
		<option value="4">Portugal</option>
		<option value="5">Italy</option>
		<option value="6">Holand</option>
		<option value="7">Chec Republic</option>
		<option value="8">Slovakia</option>
		<option value="9">Ucrania</option>
		<option value="10">Turkey</option>
		<option value="11">Greece</option>
		<option value="12">Germany</option>'	
		) %>

	</p>
	<p  class="search_class">
		<%= check_box_tag(:caravanista) %>
		<%= label_tag(:caravanista, "Llevo caravana") %>	
		<%= check_box_tag(:autocaravanista) %>
		<%= label_tag(:autocaravanista, "Llevo autocaravana") %>
	</p>
	<p  id="search_button" class="search_class">
		<%= submit_tag "Search!", :name => nil %>
		<% end %>
	</p>
</div>


<p>
<%= render(:partial => "list") %>
</p>