<% content_for :head do %>
<script type="text/javascript" src="/javascripts/places.new.js"></script>
<% end -%>

<h1>New place</h1>

<% if current_user %>

<div id="form_fields" class="place_form">
	<% form_for(@place, :html => { :id => "place_form"}) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>

	<div>
		<fieldset class="fieldset"> 
			<legend>You can type the direction...</legend>
			<p>
				<%= f.label :direction %><br />
				<%= f.text_field :direction %>
			</p>

			<p id="showlocation" class="button">
				<!-- <button type="button" id="showmap">Show Map</button> -->
				<button type="button" id="getcoordinates">Show Map &amp; Coordinates</button>
				<button type="button" id="hidemap">Hide Map</button>
			</p>
			<div id="map_canvas"></div>
		</fieldset>
	</div>

	<div>
		<fieldset class="fieldset">
			<legend>Or the coordinates if you know them</legend>
			<p>
				<%= f.label :coordinates_lat %><br />
				<%= f.text_field :coordinates_lat %>
			</p>
			<p>
				<%= f.label :coordinates_long %><br />
				<%= f.text_field :coordinates_long %>
			</p>
			<!-- <p>
			<button type="button" id="set_coordinates_button" class="button">Set Coordinates</button>
			</p> -->
		</fieldset>
	</div>

	<p>
		<%= f.label :country_id, "Push 'Show Map button' to get the country" %><br />
		<!-- <button type="button" id="get_country_button" class="button">Get Country</button> -->
		<%= @country = Country.find(:all, :conditions => ['(name LIKE ?)', "%#{params[:place_country]}%"]) 
		f.collection_select(:country_id, @country, :id, :name) %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.label :image_url %><br />
		<%= f.text_field :image_url %>
	</p>

	<p class="button">
		<%= f.submit 'Create' %>
	</p>
	<% end %>

	<%= link_to 'Back', places_path %>

</div>

<% else %>
<div id="form_fields">
	<p>You must be logged to add a new place.</p>
</div>
<% end %>
