<%= render(:partial => "search_small") %>

<h1>
	<%=h @place.name %>
</h1>

<div id="summary">
	<h2>Place Summary</h2>
	<p>
		<b>Name:</b>
		<%=h @place.name %>
	</p>
	<p>
		<b>Created at:</b>
		<%=h @place.created_at %>
	</p>
	<p>
		<b>Last update:</b>
		<%=h @place.updated_at %>
	</p>
	<p>
		<b>Author:</b>
		<%=h @place.user.login %>
	</p>
	<p>
		<b>Coordinates lat:</b>
		<%=h @place.coordinates_lat %>
	</p>
	<p>
		<b>Coordinates long:</b>
		<%=h @place.coordinates_long %>
	</p>
	<p>
		<b>Direction:</b>
		<%=h @place.direction %>
	</p>
	<p>
		<b>Country:</b>
		<%=h @place.country.name %>
	</p>
	<p>
		<b>Description:</b>
		<%=h @place.description %>
	</p>
	<p>
		<b>Rank:</b>
		<%=h @place.rank %>
	</p>
	<p>
		<b>Image url:</b>
		<%= image_tag @place.image_url, :class => 'list-image' %>
	</p>
	<%= link_to 'Edit', edit_place_path(@place) %>
</div>


<div id="map">
	<img src="/images/map.png" alt="map" />
</div>




<div id="comments">
	<p>
		Rate:
		<!--	%= ratings_for @place, @user, :dimension => :rank %> -->
	</p>

	<%= render(:partial => "/placecomments/list", :object => @place) %> 
	<%= render(:partial => "/placecomments/new", :object => @place) %>


	<p id="comeback_links">
		<%= link_to 'New place', new_place_path %> | |
		<%= link_to 'Back', places_path %>
	</p>
</div>