<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="autor" content="helenatxu" />
	<title>RouteFinder | <%= controller.controller_name %>:<%= controller.action_name %></title>
	<%= stylesheet_link_tag 'routefinder' %>
</head>

<body>

	<div id="header">
		<p>Route Finder</p>
	</div>

	<div id="container">

		<div id="user_nav"> 
			<% if !current_user %>
			<%= link_to "Register", new_account_path %> |
			<%= link_to "Log In", new_user_session_path %> |
			<% else %>
			<%= link_to "My Account", account_path %> |
			<%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
			<% end %>

			<p class="notice">
				<%= flash[:notice] %>
			</p>
			<p><%= pluralize User.logged_in.count, "user" %> currently logged in
			</p>
			<!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->

		</div>

		<%= yield %>

	</div>	

	<div id="footer">
		<p>RouteFinder 2010.</p>
		<p>Helena Moreno Chacón</p>
	</div>

</body>
</html>
